{ns
 hl7-fhir-us-mcode.value-set.mcode-cancer-disease-status-evidence-type-vs,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "The type of evidence backing up the clinical determination of cancer progression.",
  :zen.fhir/version "0.5.23",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct",
     :zen.fhir/content :not-present}},
  :uri
  "http://hl7.org/fhir/us/mcode/ValueSet/mcode-cancer-disease-status-evidence-type-vs",
  :version "2.0.0"}}