{ns hl7-fhir-us-mcode.value-set.mcode-radiotherapy-modality-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes describing the modalities of external beam and brachytherapy radiation procedures, for use with radiotherapy summaries.  This value set is the union of the teleradiotherapy and brachytherapy modality value sets.",
            :zen.fhir/version "0.6.30",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/mcode/ValueSet/mcode-radiotherapy-modality-vs",
            :version "2.1.0",
            :ftr {:module "hl7-fhir-us-mcode",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
