{ns hl7-fhir-us-mcode.value-set.mcode-cancer-disorder-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A broad cancer-related value set containing both primary and secondary tumor types, with codes from ICD-10 and SNOMED CT, including both diagnosis and histology/morphology/behavior codes. ICD-O-3 morphology codes may also be used and are considered conformant to the specification. For SNOMED, the value set includes all codes descending from 363346000 'Malignant neoplastic disease (disorder)' and 108369006 'Neoplasm (morphologic abnormality)'.",
            :zen.fhir/version "0.6.22-1",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/sid/icd-10-cm",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}
                                 {:fhir/url "http://terminology.hl7.org/CodeSystem/icd-o-3",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/us/mcode/ValueSet/mcode-cancer-disorder-vs",
            :version "2.1.0",
            :ftr {:module "hl7-fhir-us-mcode",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
