{ns hl7-fhir-us-mcode.value-set.mcode-brachytherapy-technique-vs,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Codes describing the techniques of brachytherapy (internal or surface radiation) procedures.",
  :zen.fhir/version "0.5.26-4",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/mcode/ValueSet/mcode-brachytherapy-technique-vs",
  :version "2.0.0",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.us.mcode",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-fhir-us-mcode",
   :tag "init"}}}