{ns hl7-fhir-us-mcode.value-set.mcode-melanoma-in-situ-disorder-vs,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Types of melanoma in-situ, coded in SNOMED CT or ICD-10-CM.",
  :zen.fhir/version "0.5.32-2",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/sid/icd-10-cm",
     :zen.fhir/content :bundled}
    {:fhir/url "http://snomed.info/sct",
     :zen.fhir/content :not-present}},
  :uri
  "http://hl7.org/fhir/us/mcode/ValueSet/mcode-melanoma-in-situ-disorder-vs",
  :version "2.0.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.us.mcode"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}