{ns hl7-fhir-us-mcode.value-set.mcode-observation-codes-primary-tumor-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Identifying codes based on the timing of classification for primary tumor (T) staging observations.",
            :zen.fhir/version "0.6.17-4",
            :fhir/code-systems #{{:fhir/url "http://loinc.org",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/mcode/ValueSet/mcode-observation-codes-primary-tumor-vs",
            :version "2.0.0",
            :ftr {:module "hl7-fhir-us-mcode",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
