{ns hl7-fhir-us-mcode.value-set.mcode-condition-status-trend-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "How patient's given disease, condition, or ability is trending.",
            :zen.fhir/version "0.6.23",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/mcode/ValueSet/mcode-condition-status-trend-vs",
            :version "2.1.0",
            :ftr {:module "hl7-fhir-us-mcode",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
