{ns hl7-fhir-us-mcode.value-set.mcode-teleradiotherapy-neutron-beam-technique-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Allowed techniques for neutron beam modality",
            :zen.fhir/version "0.6.7",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/us/mcode/CodeSystem/snomed-requested-cs",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/mcode/ValueSet/mcode-teleradiotherapy-neutron-beam-technique-vs",
            :version "2.0.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.us.mcode"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
