{ns hl7-fhir-us-mcode.value-set.mcode-teleradiotherapy-modality-vs,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Codes describing the modalities of teleradiotherapy (external beam) procedures.",
  :zen.fhir/version "0.5.21-8",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/umls",
     :zen.fhir/content :bundled}
    {:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/mcode/ValueSet/mcode-teleradiotherapy-modality-vs",
  :version "1.16.0"}}