{ns hl7-fhir-us-mcode.value-set.mcode-body-location-qualifier-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Qualifiers to refine a body structure or location including qualifiers for relative location, directionality, number, and plane, and excluding qualifiers for laterality.",
            :zen.fhir/version "0.6.23-1",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/us/mcode/ValueSet/mcode-body-location-qualifier-vs",
            :version "2.1.0",
            :ftr {:module "hl7-fhir-us-mcode",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
