{ns hl7-fhir-us-mcode.value-set.mcode-radiotherapy-technique-vs,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Codes describing the techniques of external beam and brachytherapy radiation procedures, for use with radiotherapy summaries. This is the union of the EBRT and brachytherapy technique value sets.",
  :zen.fhir/version "0.5.21-11",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/umls",
     :zen.fhir/content :bundled}
    {:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}
    {:fhir/url "http://terminology.hl7.org/CodeSystem/radiotherapy",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/mcode/ValueSet/mcode-radiotherapy-technique-vs",
  :version "1.16.0"}}