{ns hl7-fhir-us-mcode.value-set.mcode-secondary-cancer-disorder-vs,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Types of secondary malignant neoplastic disease, coded in SNOMED CT or ICD-10-CM. \n\n* SNOMED CT coding: Use a code from the disorder hierarchy under secondary malignant neoplastic disease (SNOMED CT 128462008).\n* ICD-10-CM coding: Use one of the codes given in this value set representing secondary malignant neoplasms and neoplasms of uncertain or unspecified behavior. If body site is not precoordinated (implied by the code), it should be specified separately using the body location.\n\nNote that ICD-O-3 specifies morphology and topography, not disorder; in this case that the disorder code must be SNOMED CT 128462008 (Secondary malignant neoplastic disease). The ICD-O-3 morphology and topography codes should be entered in the HistologyMorphologyBehavior and bodySite fields, respectively.",
  :zen.fhir/version "0.5.21-10",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/sid/icd-10-cm",
     :zen.fhir/content :bundled}
    {:fhir/url
     "http://hl7.org/fhir/us/mcode/CodeSystem/mcode-catch-code-cs",
     :zen.fhir/content :bundled}
    {:fhir/url "http://snomed.info/sct",
     :zen.fhir/content :not-present}},
  :uri
  "http://hl7.org/fhir/us/mcode/ValueSet/mcode-secondary-cancer-disorder-vs",
  :version "1.16.0"}}