{ns hl7-fhir-us-mcode.value-set.mcode-present-absent-unknown,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Value set used in association with phenomena that can be observed as being present or absent, such as a finding, organism, or physical object.",
  :zen.fhir/version "0.5.21-7",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/mcode/ValueSet/mcode-present-absent-unknown",
  :version "1.16.0"}}