{ns hl7-fhir-us-mcode.mcode-comorbid-condition-reference,
 import #{hl7-fhir-r4-core.Condition zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "An extension for representing a reference to a condition resource corresponding to the comorbid condition category.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-comorbid-condition-reference",
         :zen.fhir/version "0.6.22",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Condition/schema}}}}
