{ns hl7-fhir-us-mcode.mcode-genomic-specimen,
 import #{zen.fhir
          hl7-fhir-us-mcode.mcode-laterality-qualifier
          hl7-fhir-r4-core.Specimen
          hl7-fhir-us-mcode.mcode-primary-cancer-condition
          hl7-fhir-us-mcode.mcode-cancer-patient
          hl7-fhir-us-mcode.mcode-related-condition
          hl7-fhir-us-mcode.value-set.mcode-genomic-specimen-type-vs
          hl7-fhir-us-mcode.mcode-body-location-qualifier
          hl7-fhir-us-mcode.mcode-secondary-cancer-condition},
 schema {:zen.fhir/version "0.6.7",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.Specimen/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-genomic-specimen",
         :require #{:type},
         :type zen/map,
         :zen/desc "A small sample of blood, hair, skin, amniotic fluid (the fluid that surrounds a fetus during pregnancy), or other tissue which is excised from a subject for the purposes of genomics testing or analysis.",
         :keys {:relatedCondition {:confirms #{hl7-fhir-us-mcode.mcode-related-condition/schema},
                                   :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-related-condition",
                                   :type zen/map,
                                   :keys {:value {:fhir/polymorphic true,
                                                  :type zen/map,
                                                  :keys {:Reference {:confirms #{zen.fhir/Reference},
                                                                     :zen.fhir/reference {:refers #{hl7-fhir-us-mcode.mcode-primary-cancer-condition/schema
                                                                                                    hl7-fhir-us-mcode.mcode-secondary-cancer-condition/schema}}}}}},
                                   :fhir/flags #{:MS},
                                   :zen/desc "Cancer condition associated with this specimen."},
                :status {:fhir/flags #{:MS}},
                :type {:fhir/flags #{:MS},
                       :zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-genomic-specimen-type-vs/value-set,
                                            :strength :extensible}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-mcode.mcode-cancer-patient/schema}}},
                :collection {:type zen/map,
                             :keys {:bodySite {:type zen/map,
                                               :keys {:locationQualifier {:type zen/vector,
                                                                          :every {:confirms #{hl7-fhir-us-mcode.mcode-body-location-qualifier/schema},
                                                                                  :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-body-location-qualifier",
                                                                                  :fhir/flags #{:MS}}},
                                                      :lateralityQualifier {:confirms #{hl7-fhir-us-mcode.mcode-laterality-qualifier/schema},
                                                                            :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-laterality-qualifier",
                                                                            :fhir/flags #{:MS}}},
                                               :fhir/flags #{:MS}}},
                             :fhir/flags #{:MS}}},
         :zen.fhir/type "Specimen"}}
