{ns hl7-fhir-us-mcode.mcode-radiotherapy-course-summary,
 import #{hl7-fhir-us-mcode.value-set.mcode-cancer-disorder-vs
          zen.fhir
          hl7-fhir-us-mcode.mcode-procedure-intent
          hl7-fhir-us-mcode.mcode-radiotherapy-modality-and-technique
          hl7-fhir-us-mcode.mcode-treatment-termination-reason
          hl7-fhir-us-mcode.mcode-primary-cancer-condition
          hl7-fhir-us-mcode.mcode-cancer-patient
          hl7-fhir-us-core.us-core-procedure
          hl7-fhir-us-mcode.mcode-radiotherapy-sessions
          hl7-fhir-us-mcode.mcode-radiotherapy-dose-delivered-to-volume
          hl7-fhir-us-mcode.value-set.mcode-radiotherapy-treatment-location-vs
          hl7-fhir-us-mcode.mcode-secondary-cancer-condition},
 schema {:zen.fhir/version "0.6.30-13",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-us-core.us-core-procedure/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-course-summary",
         :require #{:category},
         :type zen/map,
         :zen/desc "A summary of a course of radiotherapy delivered to a patient. It records the treatment intent, termination reason, modalities, techniques, number of sessions, and doses delivered to one or more body volumes. Whether the course has been fully delivered or stopped is indicated in the status element.",
         :keys {:category {:match {:coding #{{:system "http://snomed.info/sct",
                                              :code "108290001"}}},
                           :fhir/flags #{:MS}},
                :modalityAndTechnique {:type zen/vector,
                                       :every {:confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-modality-and-technique/schema},
                                               :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-modality-and-technique",
                                               :fhir/flags #{:MS}}},
                :terminationReason {:confirms #{hl7-fhir-us-mcode.mcode-treatment-termination-reason/schema},
                                    :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-treatment-termination-reason",
                                    :fhir/flags #{:MS}},
                :reasonCode {:type zen/vector,
                             :every {:fhir/flags #{:MS},
                                     :zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-cancer-disorder-vs/value-set,
                                                          :strength :extensible}}},
                :performed {:fhir/polymorphic true, :type zen/map},
                :treatmentIntent {:confirms #{hl7-fhir-us-mcode.mcode-procedure-intent/schema},
                                  :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-procedure-intent",
                                  :fhir/flags #{:MS}},
                :doseDeliveredToVolume {:type zen/vector,
                                        :every {:confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-dose-delivered-to-volume/schema},
                                                :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-dose-delivered-to-volume",
                                                :fhir/flags #{:MS}}},
                :code {:match {:coding #{{:system "http://snomed.info/sct",
                                          :code "1217123003"}}}},
                :bodySite {:type zen/vector,
                           :every {:fhir/flags #{:MS},
                                   :zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-radiotherapy-treatment-location-vs/value-set,
                                                        :strength :required},
                                   :zen/desc "All body structure(s) treated"}},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-mcode.mcode-cancer-patient/schema}}},
                :reasonReference {:type zen/vector,
                                  :every {:fhir/flags #{:MS},
                                          :confirms #{zen.fhir/Reference},
                                          :zen.fhir/reference {:refers #{hl7-fhir-us-mcode.mcode-primary-cancer-condition/schema
                                                                         hl7-fhir-us-mcode.mcode-secondary-cancer-condition/schema}}}},
                :actualNumberOfSessions {:confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-sessions/schema},
                                         :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-sessions",
                                         :fhir/flags #{:MS}}},
         :zen.fhir/type "Procedure"}}
