{ns hl7-fhir-us-mcode.mcode-tumor-marker-test,
 import #{zen.fhir
          hl7-fhir-us-mcode.mcode-cancer-patient
          hl7-fhir-us-core.us-core-observation-lab
          hl7-fhir-us-mcode.value-set.mcode-tumor-marker-test-vs},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "The result of a tumor marker test. Tumor marker tests are generally used to guide cancer treatment decisions and monitor treatment, as well as to predict the chance of recovery and cancer recurrence.",
         :zen.fhir/type "Observation",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-tumor-marker-test",
         :zen.fhir/version "0.6.7-2",
         :confirms #{hl7-fhir-us-core.us-core-observation-lab/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:code {:zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-tumor-marker-test-vs/value-set,
                                            :strength :extensible}},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-mcode.mcode-cancer-patient/schema}}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :exclusive-keys #{#{:dateTime :Period}}},
                :value {:fhir/polymorphic true,
                        :type zen/map,
                        :exclusive-keys #{#{:string
                                            :Ratio
                                            :CodeableConcept
                                            :Quantity}}},
                :specimen {:fhir/flags #{:MS},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}}}}}}
