{ns hl7-fhir-us-mcode.mcode-cancer-genetic-variant,
 import
 #{hl7-fhir-r4-core.BackboneElement
   hl7-fhir-us-mcode.value-set.mcode-clinvar-vs
   zen.fhir
   hl7-fhir-us-mcode.value-set.mcode-dna-change-type-vs
   hl7-fhir-us-mcode.mcode-genetic-specimen
   hl7-fhir-us-core.us-core-observation-lab
   hl7-fhir-r4-core.Reference
   hl7-fhir-us-mcode.value-set.mcode-hgvs-vs
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-us-mcode.value-set.mcode-hgnc-vs},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc
  "Records an alteration in the most common DNA nucleotide sequence. The term variant can be used to describe an alteration that may be benign, pathogenic, or of unknown significance. The term variant is increasingly being used in place of the term mutation.",
  :zen.fhir/type "Observation",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-cancer-genetic-variant",
  :zen.fhir/version "0.5.21-11",
  :confirms
  #{hl7-fhir-us-core.us-core-observation-lab/schema zen.fhir/Resource},
  :type zen/map,
  :keys
  {:code
   {:match {:coding #{{:system "http://loinc.org", :code "69548-6"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
   :value
   {:fhir/polymorphic true,
    :type zen/map,
    :keys
    {:CodeableConcept
     {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
    :zen/desc "Whether the variant is present"},
   :bodySite
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :zen/desc "Not used in this profile"},
   :method
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS}},
   :specimen
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-mcode.mcode-genetic-specimen/schema}}},
   :referenceRange
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :zen/desc "Not used in this profile"}},
   :hasMember
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :zen.fhir/reference {:refers #{}},
     :zen/desc "Not used in this profile"}},
   :component
   {:slicing
    {:slices
     {"genomicDNAChangeType"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:code
          {:match
           {:coding #{{:system "http://loinc.org", :code "48019-4"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :value
          {:fhir/polymorphic true,
           :type zen/map,
           :keys
           {:CodeableConcept
            {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-mcode.value-set.mcode-dna-change-type-vs/value-set,
            :strength :extensible}},
          :dataAbsentReason
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}}}}},
       :filter
       {:engine :match,
        :match
        {:code
         {:coding #{{:system "http://loinc.org", :code "48019-4"}}}}}},
      "cytogeneticNomenclature"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:code
          {:match
           {:coding #{{:system "http://loinc.org", :code "81291-7"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :value #:fhir{:polymorphic true, :flags #{:MS}},
          :dataAbsentReason
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}}}}},
       :filter
       {:engine :match,
        :match
        {:code
         {:coding #{{:system "http://loinc.org", :code "81291-7"}}}}}},
      "genomicDNAChange"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:code
          {:match
           {:coding #{{:system "http://loinc.org", :code "81290-9"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :value
          {:fhir/polymorphic true,
           :type zen/map,
           :keys
           {:CodeableConcept
            {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-mcode.value-set.mcode-hgvs-vs/value-set,
            :strength :required}},
          :dataAbsentReason
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}}}}},
       :filter
       {:engine :match,
        :match
        {:code
         {:coding #{{:system "http://loinc.org", :code "81290-9"}}}}}},
      "aminoAcidChange"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:code
          {:match
           {:coding #{{:system "http://loinc.org", :code "48005-3"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :value
          {:fhir/polymorphic true,
           :type zen/map,
           :keys
           {:CodeableConcept
            {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-mcode.value-set.mcode-hgvs-vs/value-set,
            :strength :required}},
          :dataAbsentReason
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}}}}},
       :filter
       {:engine :match,
        :match
        {:code
         {:coding #{{:system "http://loinc.org", :code "48005-3"}}}}}},
      "aminoAcidChangeType"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:code
          {:match
           {:coding #{{:system "http://loinc.org", :code "48006-1"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :value
          {:fhir/polymorphic true,
           :type zen/map,
           :keys
           {:CodeableConcept
            {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
           :fhir/flags #{:MS}},
          :dataAbsentReason
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}}}}},
       :filter
       {:engine :match,
        :match
        {:code
         {:coding #{{:system "http://loinc.org", :code "48006-1"}}}}}},
      "cytogeneticLocation"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:code
          {:match
           {:coding #{{:system "http://loinc.org", :code "48001-2"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :value #:fhir{:polymorphic true, :flags #{:MS}},
          :dataAbsentReason
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}}}}},
       :filter
       {:engine :match,
        :match
        {:code
         {:coding #{{:system "http://loinc.org", :code "48001-2"}}}}}},
      "geneStudied"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:code
          {:match
           {:coding #{{:system "http://loinc.org", :code "48018-6"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :value
          {:fhir/polymorphic true,
           :type zen/map,
           :keys
           {:CodeableConcept
            {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-mcode.value-set.mcode-hgnc-vs/value-set,
            :strength :extensible}},
          :dataAbsentReason
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}}}}},
       :filter
       {:engine :match,
        :match
        {:code
         {:coding #{{:system "http://loinc.org", :code "48018-6"}}}}}},
      "variationCode"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:code
          {:match
           {:coding #{{:system "http://loinc.org", :code "81252-9"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :value
          {:fhir/polymorphic true,
           :type zen/map,
           :keys
           {:CodeableConcept
            {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-mcode.value-set.mcode-clinvar-vs/value-set,
            :strength :preferred}},
          :dataAbsentReason
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}}}}},
       :filter
       {:engine :match,
        :match
        {:code
         {:coding #{{:system "http://loinc.org", :code "81252-9"}}}}}},
      "genomicSourceClass"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:code
          {:match
           {:coding #{{:system "http://loinc.org", :code "48002-0"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :value
          {:fhir/polymorphic true,
           :type zen/map,
           :keys
           {:CodeableConcept
            {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
           :fhir/flags #{:MS}},
          :dataAbsentReason
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}}}}},
       :filter
       {:engine :match,
        :match
        {:code
         {:coding
          #{{:system "http://loinc.org", :code "48002-0"}}}}}}}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:code
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS}},
      :value #:fhir{:polymorphic true, :flags #{:MS}},
      :dataAbsentReason
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS}}},
     :fhir/flags #{:MS}}}}}}