{ns hl7-fhir-us-mcode.mcode-related-condition,
 import #{hl7-fhir-r4-core.Condition zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The resource has an unspecified relationship with a Condition.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-related-condition",
         :zen.fhir/version "0.6.17-2",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Condition/schema}}}}
