{ns hl7-fhir-us-mcode.mcode-cancer-genomics-report,
 import
 #{hl7-fhir-us-core.us-core-diagnosticreport-lab
   zen.fhir
   hl7-fhir-us-mcode.mcode-cancer-patient
   hl7-fhir-us-mcode.mcode-genetic-specimen
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.CodeableConcept},
 schema
 {:zen.fhir/version "0.5.21-8",
  :confirms
  #{hl7-fhir-us-core.us-core-diagnosticreport-lab/schema
    zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-cancer-genomics-report",
  :require #{:category},
  :type zen/map,
  :zen/desc
  "Genetic analysis summary report. The report may include one or more tests, with two distinct test types. The first type is a targeted mutation test, where a specific mutation on a specific gene is tested for. The result is either positive or negative for that mutation. The second type is a more general test for variants. This type of test returns the identity of variants found in a certain region of the genome.",
  :keys
  {:category
   {:type zen/vector,
    :every {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
    :minItems 2},
   :code
   {:match {:coding #{{:system "http://loinc.org", :code "81247-9"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
   :subject
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-mcode.mcode-cancer-patient/schema}}},
   :specimen
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :fhir/flags #{:MS},
     :zen.fhir/reference
     {:refers #{hl7-fhir-us-mcode.mcode-genetic-specimen/schema}}}},
   :result
   {:slicing {:slices {}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :zen.fhir/reference {:refers #{}}}}},
  :zen.fhir/type "DiagnosticReport"}}