{ns hl7-fhir-us-mcode.mcode-comorbid-condition-code,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Code for a specific condition in the named comorbidity category.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-comorbid-condition-code",
         :zen.fhir/version "0.6.6-8",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}
