{ns hl7-fhir-us-mcode.mcode-karnofsky-performance-status,
 import #{hl7-fhir-r4-core.Observation
          hl7-fhir-r4-core.CarePlan
          zen.fhir
          hl7-fhir-us-mcode.mcode-cancer-patient
          hl7-fhir-r4-core.ServiceRequest
          hl7-fhir-r4-core.Procedure},
 schema {:zen.fhir/version "0.6.10",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-karnofsky-performance-status",
         :require #{:subject},
         :type zen/map,
         :zen/desc "The Karnofsky Performance Status (KPS) is a tool used to measure a patient's functional status. It can be used to compare the effectiveness of different therapies and to help assess the prognosis of certain patients, such as those with certain cancers. The KPS score ranges from 0 to 100 in intervals of 10. Higher scores are associated with better functional status, with 100 representing no symptoms or evidence of disease, and 0 representing death.",
         :keys {:category {:type zen/vector,
                           :every {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/observation-category",
                                                      :code "survey"}}}}},
                :hasMember {:type zen/vector,
                            :every {:confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{}},
                                    :zen/desc "Not used in this profile"}},
                :interpretation {:type zen/vector,
                                 :every {:fhir/flags #{:MS}}},
                :specimen {:confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}},
                           :zen/desc "Not used in this profile"},
                :value {:fhir/polymorphic true,
                        :type zen/map,
                        :fhir/flags #{:MS}},
                :component {:type zen/vector,
                            :every {:zen/desc "Not used in this profile"}},
                :status {:fhir/flags #{:MS}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :exclusive-keys #{#{:dateTime :Period}},
                            :fhir/flags #{:MS}},
                :code {:match {:coding #{{:system "http://loinc.org",
                                          :code "89243-0"}}},
                       :fhir/flags #{:MS}},
                :bodySite {:zen/desc "Not used in this profile"},
                :device {:confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{}},
                         :zen/desc "Not used in this profile"},
                :basedOn {:type zen/vector,
                          :every {:confirms #{zen.fhir/Reference},
                                  :zen.fhir/reference {:refers #{hl7-fhir-r4-core.ServiceRequest/schema
                                                                 hl7-fhir-r4-core.CarePlan/schema}}}},
                :partOf {:type zen/vector,
                         :every {:confirms #{zen.fhir/Reference},
                                 :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Procedure/schema}}}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-mcode.mcode-cancer-patient/schema}}}},
         :zen.fhir/type "Observation"}}
