{ns hl7-fhir-us-mcode.mcode-ecog-performance-status,
 import #{hl7-fhir-r4-core.Observation
          hl7-fhir-r4-core.CarePlan
          zen.fhir
          hl7-fhir-us-mcode.mcode-cancer-patient
          hl7-fhir-r4-core.ServiceRequest
          hl7-fhir-r4-core.Procedure},
 schema {:zen.fhir/version "0.6.7-5",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-ecog-performance-status",
         :require #{:subject},
         :type zen/map,
         :zen/desc "The Eastern Cooperative Oncology Group (ECOG) Performance Status represents the patient's functional status and is used to determine their ability to tolerate therapies in serious illness, specifically for chemotherapy. (Definition from: [LOINC](https://loinc.org/89262-0/))",
         :keys {:category {:type zen/vector,
                           :every {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/observation-category",
                                                      :code "survey"}}}}},
                :hasMember {:type zen/vector,
                            :every {:confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{}},
                                    :zen/desc "Not used in this profile"}},
                :interpretation {:type zen/vector,
                                 :every {:fhir/flags #{:MS}}},
                :specimen {:confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}},
                           :zen/desc "Not used in this profile"},
                :value {:fhir/polymorphic true,
                        :type zen/map,
                        :fhir/flags #{:MS}},
                :component {:type zen/vector,
                            :every {:zen/desc "Not used in this profile"}},
                :status {:fhir/flags #{:MS}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :exclusive-keys #{#{:dateTime :Period}},
                            :fhir/flags #{:MS}},
                :code {:match {:coding #{{:system "http://loinc.org",
                                          :code "89247-1"}}},
                       :fhir/flags #{:MS}},
                :bodySite {:zen/desc "Not used in this profile"},
                :device {:confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{}},
                         :zen/desc "Not used in this profile"},
                :basedOn {:type zen/vector,
                          :every {:confirms #{zen.fhir/Reference},
                                  :zen.fhir/reference {:refers #{hl7-fhir-r4-core.ServiceRequest/schema
                                                                 hl7-fhir-r4-core.CarePlan/schema}}}},
                :partOf {:type zen/vector,
                         :every {:confirms #{zen.fhir/Reference},
                                 :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Procedure/schema}}}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-mcode.mcode-cancer-patient/schema}}}},
         :zen.fhir/type "Observation"}}
