{ns hl7-fhir-us-mcode.mcode-treatment-termination-reason,
 import #{zen.fhir
          hl7-fhir-r4-core.CodeableConcept
          hl7-fhir-us-mcode.value-set.mcode-treatment-termination-reason-vs},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A code explaining the unplanned or premature termination, or normal completion, of a plan of treatment, course of medication, or research study.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-treatment-termination-reason",
         :zen.fhir/version "0.6.30-14",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-treatment-termination-reason-vs/value-set,
                              :strength :required}}}
