{ns hl7-fhir-us-mcode.mcode-cancer-patient,
 import #{zen.fhir hl7-fhir-us-core.us-core-patient},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "A patient who has been diagnosed with or is receiving medical treatment for a malignant growth or tumor. The is the most essential profile in mCODE, since it is referenced by many other profiles. The only difference between the mCODE Patient profile and the [US Core Patient Profile](http://hl7.org/fhir/us/core/StructureDefinition-us-core-patient.html) is that Patient.deceased is a [must-support](https://www.hl7.org/fhir/profiling.html#mustsupport) element in mCODE.",
         :zen.fhir/type "Patient",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-cancer-patient",
         :zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-us-core.us-core-patient/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:deceased {:fhir/polymorphic true,
                           :type zen/map,
                           :fhir/flags #{:MS}}}}}
