{ns hl7-fhir-us-mcode.mcode-cancer-related-surgical-procedure,
 import
 #{hl7-fhir-us-mcode.value-set.mcode-cancer-disorder-vs
   zen.fhir
   hl7-fhir-us-mcode.mcode-laterality-qualifier
   hl7-fhir-us-mcode.mcode-procedure-intent
   hl7-fhir-us-mcode.value-set.mcode-cancer-related-surgical-procedure-vs
   hl7-fhir-us-mcode.mcode-primary-cancer-condition
   hl7-fhir-us-core.us-core-procedure
   hl7-fhir-us-mcode.mcode-body-location-qualifier
   hl7-fhir-us-mcode.mcode-secondary-cancer-condition},
 schema
 {:zen.fhir/version "0.6.4",
  :confirms
  #{zen.fhir/Resource hl7-fhir-us-core.us-core-procedure/schema},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-cancer-related-surgical-procedure",
  :require #{:category},
  :type zen/map,
  :zen/desc
  "A surgical action addressing a cancer condition. The scope of this profile has been narrowed to cancer-related procedures by constraining the reasonReference and reasonCode to cancer conditions, one of which is required.",
  :keys
  {:treatmentIntent
   {:confirms #{hl7-fhir-us-mcode.mcode-procedure-intent/schema},
    :fhir/extensionUri
    "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-procedure-intent",
    :fhir/flags #{:MS}},
   :category
   {:match
    {:coding
     #{{:system "http://snomed.info/sct", :code "387713003"}}}},
   :code
   #:zen.fhir{:value-set
              {:symbol
               hl7-fhir-us-mcode.value-set.mcode-cancer-related-surgical-procedure-vs/value-set,
               :strength :extensible}},
   :subject
   {:confirms #{zen.fhir/Reference},
    :zen.fhir/reference {:refers #{}}},
   :reasonCode
   {:type zen/vector,
    :every
    {:fhir/flags #{:MS},
     :zen.fhir/value-set
     {:symbol
      hl7-fhir-us-mcode.value-set.mcode-cancer-disorder-vs/value-set,
      :strength :extensible}}},
   :reasonReference
   {:type zen/vector,
    :every
    {:fhir/flags #{:MS},
     :confirms #{zen.fhir/Reference},
     :zen.fhir/reference
     {:refers
      #{hl7-fhir-us-mcode.mcode-primary-cancer-condition/schema
        hl7-fhir-us-mcode.mcode-secondary-cancer-condition/schema}}}},
   :bodySite
   {:type zen/vector,
    :every
    {:type zen/map,
     :keys
     {:locationQualifier
      {:type zen/vector,
       :every
       {:confirms
        #{hl7-fhir-us-mcode.mcode-body-location-qualifier/schema},
        :fhir/extensionUri
        "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-body-location-qualifier",
        :fhir/flags #{:MS},
        :zen/desc
        "General location qualifier (excluding laterality) for this bodySite"}},
      :lateralityQualifier
      {:confirms
       #{hl7-fhir-us-mcode.mcode-laterality-qualifier/schema},
       :fhir/extensionUri
       "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-laterality-qualifier",
       :fhir/flags #{:MS},
       :zen/desc
       "Laterality qualifier (excluding laterality) for this bodySite"}},
     :fhir/flags #{:MS}}}},
  :zen.fhir/type "Procedure"}}