{ns hl7-fhir-us-mcode.mcode-evidence-type,
 import
 #{zen.fhir
   hl7-fhir-us-mcode.value-set.mcode-cancer-disease-status-evidence-type-vs
   hl7-fhir-r4-core.CodeableConcept},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc
  "Categorization of the kind of evidence used as input to the clinical judgment. This corresponds to both the S and O in SOAP.",
  :zen.fhir/type "CodeableConcept",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-evidence-type",
  :zen.fhir/version "0.5.21-11",
  :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
  :zen.fhir/value-set
  {:symbol
   hl7-fhir-us-mcode.value-set.mcode-cancer-disease-status-evidence-type-vs/value-set,
   :strength :required}}}