{ns hl7-fhir-us-mcode.mcode-body-structure-identifier,
 import
 #{hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-r4-core.string
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-r4-core.Identifier},
 schema
 {:zen.fhir/version "0.5.25-1",
  :confirms #{hl7-fhir-r4-core.Identifier/schema},
  :zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-body-structure-identifier",
  :require #{:value},
  :type zen/map,
  :zen/desc
  "An identifier that designates a body structure such as a tumor and can be used for tracking the structure over time.",
  :keys
  {:use {:match "usual", :confirms #{hl7-fhir-r4-core.code/schema}},
   :_use {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :type
   {:match
    {:coding
     #{{:system "http://hl7.org/fhir/resource-types",
        :code "BodyStructure"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
   :value {:confirms #{hl7-fhir-r4-core.string/schema}},
   :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
  :zen.fhir/type "Identifier"}}