{ns hl7-fhir-us-mcode.mcode-tumor,
 import
 #{hl7-fhir-us-mcode.value-set.mcode-cancer-body-location-vs
   zen.fhir
   hl7-fhir-us-mcode.mcode-primary-cancer-condition
   hl7-fhir-us-mcode.mcode-cancer-patient
   hl7-fhir-us-mcode.mcode-related-condition
   hl7-fhir-r4-core.BodyStructure
   hl7-fhir-us-mcode.value-set.mcode-body-location-and-laterality-qualifier-vs
   hl7-fhir-us-mcode.mcode-secondary-cancer-condition},
 schema
 {:zen.fhir/version "0.6.6",
  :confirms #{hl7-fhir-r4-core.BodyStructure/schema zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-tumor",
  :require #{:identifier :location},
  :type zen/map,
  :zen/desc
  "Identifies a tumor that has not been removed from the body. Whenever possible, a single resource conforming to this profile will be used to track a tumor over time (as opposed to creating new Tumor-conforming BodyStructure resources each time that tumor is measured). Use TumorSpecimen to represent the tumor after removal from the body.",
  :keys
  {:relatedCondition
   {:confirms #{hl7-fhir-us-mcode.mcode-related-condition/schema},
    :fhir/extensionUri
    "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-related-condition",
    :type zen/map,
    :keys
    {:value
     {:fhir/polymorphic true,
      :type zen/map,
      :keys
      {:Reference
       {:confirms #{zen.fhir/Reference},
        :zen.fhir/reference
        {:refers
         #{hl7-fhir-us-mcode.mcode-primary-cancer-condition/schema
           hl7-fhir-us-mcode.mcode-secondary-cancer-condition/schema}}}},
      :fhir/flags #{:MS}}},
    :fhir/flags #{:MS},
    :zen/desc
    "Reference to cancer condition associated with this tumor"},
   :identifier
   {:type zen/vector,
    :slicing {:slices {}},
    :every
    {:fhir/flags #{:MS},
     :zen/desc "Stable identifier(s) for this tumor"},
    :minItems 1},
   :morphology
   {:match
    {:coding
     #{{:system "http://snomed.info/sct",
        :code "367651003",
        :display
        "Malignant neoplasm of primary, secondary, or uncertain origin (morphologic abnormality)"}}},
    :fhir/flags #{:MS}},
   :location
   {:fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-us-mcode.value-set.mcode-cancer-body-location-vs/value-set,
     :strength :extensible}},
   :locationQualifier
   {:type zen/vector,
    :every
    {:fhir/flags #{:MS},
     :zen.fhir/value-set
     {:symbol
      hl7-fhir-us-mcode.value-set.mcode-body-location-and-laterality-qualifier-vs/value-set,
      :strength :required}}},
   :patient
   {:fhir/flags #{:MS},
    :confirms #{zen.fhir/Reference},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-mcode.mcode-cancer-patient/schema}}}},
  :zen.fhir/type "BodyStructure"}}