{ns hl7-fhir-us-mcode.mcode-laterality-qualifier,
 import #{zen.fhir
          hl7-fhir-us-mcode.value-set.mcode-laterality-qualifier-vs
          hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Qualifier to specify laterality.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-laterality-qualifier",
         :zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-laterality-qualifier-vs/value-set,
                              :strength :required}}}
