{ns hl7-fhir-us-mcode.mcode-teleradiotherapy-treatment-phase,
 import
 #{hl7-fhir-r4-core.Period
   hl7-fhir-us-mcode.value-set.mcode-teleradiotherapy-modality-vs
   hl7-fhir-us-mcode.mcode-radiotherapy-modality
   hl7-fhir-us-mcode.mcode-radiotherapy-course-summary
   zen.fhir
   hl7-fhir-us-mcode.value-set.mcode-teleradiotherapy-technique-vs
   hl7-fhir-us-core.us-core-procedure
   hl7-fhir-r4-core.Reference
   hl7-fhir-us-mcode.mcode-radiotherapy-dose-delivered-to-volume
   hl7-fhir-us-mcode.value-set.mcode-radiotherapy-treatment-location-vs
   hl7-fhir-us-mcode.mcode-radiotherapy-technique
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-us-mcode.mcode-radiotherapy-fractions-delivered},
 schema
 {:zen.fhir/version "0.5.22",
  :confirms
  #{zen.fhir/Resource hl7-fhir-us-core.us-core-procedure/schema},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-teleradiotherapy-treatment-phase",
  :require #{:category},
  :type zen/map,
  :zen/desc
  "A summary of a phase of teleradiotherapy treatment that has been delivered. The scope is a treatment consisting of one or multiple identical fractions. A phase ends whenever there is a change in the irradiated volume, dose per fraction, modality, or technique.",
  :keys
  {:category
   {:match
    {:coding #{{:system "http://snomed.info/sct", :code "108290001"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS}},
   :fractionsDelivered
   {:confirms
    #{hl7-fhir-us-mcode.mcode-radiotherapy-fractions-delivered/schema},
    :fhir/extensionUri
    "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-fractions-delivered",
    :fhir/flags #{:MS},
    :zen/desc "Number of Fractions Delivered"},
   :modality
   {:confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-modality/schema},
    :fhir/extensionUri
    "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-modality",
    :type zen/map,
    :keys
    {:value
     {:fhir/polymorphic true,
      :zen.fhir/value-set
      {:symbol
       hl7-fhir-us-mcode.value-set.mcode-teleradiotherapy-modality-vs/value-set,
       :strength :required}}},
    :fhir/flags #{:MS},
    :zen/desc "Teleradiotherapy (EBRT) Modality"},
   :performed
   {:fhir/polymorphic true,
    :type zen/map,
    :keys {:Period {:confirms #{hl7-fhir-r4-core.Period/schema}}}},
   :doseDeliveredToVolume
   {:type zen/vector,
    :every
    {:confirms
     #{hl7-fhir-us-mcode.mcode-radiotherapy-dose-delivered-to-volume/schema},
     :fhir/extensionUri
     "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-dose-delivered-to-volume",
     :type zen/map,
     :keys
     {:fractionsDelivered #:zen{:desc "Not used in this profile."}},
     :fhir/flags #{:MS}}},
   :technique
   {:confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-technique/schema},
    :fhir/extensionUri
    "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-technique",
    :type zen/map,
    :keys
    {:value
     {:fhir/polymorphic true,
      :zen.fhir/value-set
      {:symbol
       hl7-fhir-us-mcode.value-set.mcode-teleradiotherapy-technique-vs/value-set,
       :strength :required}}},
    :fhir/flags #{:MS},
    :zen/desc "Teleradiotherapy (EBRT) Technique"},
   :code
   {:match
    {:coding
     #{{:system
        "http://hl7.org/fhir/us/mcode/CodeSystem/mcode-resource-identifier-cs",
        :code "mcode-teleradiotherapy-treatment-phase"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
   :bodySite
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
     :zen.fhir/value-set
     {:symbol
      hl7-fhir-us-mcode.value-set.mcode-radiotherapy-treatment-location-vs/value-set,
      :strength :required},
     :zen/desc "All body structure(s) treated in this phase"}},
   :partOf
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :zen.fhir/reference
     {:refers
      #{hl7-fhir-us-mcode.mcode-radiotherapy-course-summary/schema}}}}},
  :zen.fhir/type "Procedure"}}